body {
    background: linear-gradient(to right,rgb(161, 212, 236),rgba(213, 219, 237, 0.4));
    font-family: Helvetica, sans-serif;
    text-align:justify;
    font-size:1.15em;
}
#title{
    color:rgb(126, 104, 8);
    font-family: 'PT Sans', sans-serif;
}
.subtitle{
    color:rgb(212, 197, 59);
    font-family: 'PT Sans', sans-serif;
}