/* 
Primary Font: Lato
Secondary Font: Roboto Condensed

Dark Blue - rgb(70, 137, 244)
Light Blue - rgb(186, 212, 255)

'Bold' Orange - rgb(229, 158, 66)
Light Orange - rgb(255, 227, 191)
*/
.content{

}
.sidebar{

}
img{
	width: 400px;
	height: 200px;
}
img:hover{
	width: 500px;
	height: 250px;
	transition: 0.5s all;
}

body{
	background: linear-gradient(to bottom right,lightgrey,white);
}

#main{
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 50px;
}

body{
	font-family: Lato, sans-serif;
	color: darkred;
}
h1{
	font-family: Roboto Condense,sans-serif;
	color: hotpink;
	background: white;
}
h2{
	font-family: Roboto Condense,sans-serif;
	color: hotpink;
	background: white;
}
.subtitle{
	font-family: Roboto Condense,sans-serif;
	color: hotpink;
	background: white;
}
.image-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image-grid > img {
	margin: 10px;
}
#image-1{
	float: right;
	margin: 15px;
}
.post{
	border: 2px solid grey;
	margin: 10px;
}
.post-title{
	margin: 5px;
}
.post-text{
	margin: 5px;
}
.post > a{
	margin: 5px;
	text-decoration: none;
	color: darkblue;
}
.post > a:hover{
	color: darkgreen;
	transition: 0.5s color;
}


.sidebar{
	background: lightyellow;
}
@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
	
}